html, body
{
	/*<!-- Body background color wont change for some reason... -->*/
	margin: 0px;
	padding: 0px;
}

.my-page
{
	display: none;
}

.my-header
{
}

.my-header-image
{
	width: 100%;
	/* Cannot get the header image height to be 100 % in phone mode ... Why ? */
	height: auto; 
}

.my-icon-back
{
	position: absolute;
	left: 10px;
	top: 10px;
	width: 12%;
	height: auto;
}

.my-content
{
	margin: 10px 20px;
	padding: 0;
	font-size: 77%;
	font-family: Trebuchet;
	color: rgb(47,21,34);
	background-color: rgb(227,212,193);
}

.my-content h1
{
	font-size: 170%;
	color: rgb(67,31,44);

}

.my-content p, .my-content ul
{
	font-size: 120%;
}

/* How to adjust active tab color? */
.tab-bar__button 
{
	background-color: rgb(296, 205, 173);
}

.center
{
	color: rgb(42,83,99);
}

.navigation-bar
{
	background-color: rgb(236, 165, 133);
}
