html, body
{
	/*<!-- Body background color wont change for some reason... -->*/
	background-color: black;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.my-page
{
	display: none;
}

.my-header
{
	background-color: #533747;
}

.my-header-image
{
	width: 100%;
	/* Cannot get the header image height to be 100 % in phone mode ... Why ? */
	height: auto; 
}

.my-icon-back
{
	position: absolute;
	left: 10px;
	top: 10px;
	width: 12%;
	height: auto;
}

.my-content
{
	margin: 10px 20px;
	padding: 0;
	font-size: 77%;
	font-family: Trebuchet;
	color: rgb(47,21,34);
	background-color: #86BBBD;
}

.my-content h1
{
	font-size: 170%;
	color: rgb(67,31,44);
}

.my-content p, .my-content ul
{
	font-size: 120%;
}

.my-content li
{
	font-size: 117%;
}

#about-content
{
	background-color: #86BBBD;
	font-size: 137%;
	padding: 10;

}

.tab-bar__button 
{
	background-color: #533747;
}

/* Active tab */
.tab-bar
{
	background-color: #6A6B83;
}

.tabLabel
{
	font-size: 30%;
}

.center
{
	color: grey;
	font-family: Trebuchet;
}

.navigation-bar
{
	background-color: #5F506B;
		color: white;

}

.ons-page
{
	background-color: black;
}

.toolbar-button
{
	color: grey;
	font-family: arial;
	border-color: #7D26CD;
	border-left-width: 4px;
}

.page__background
{
	background-color: #76949F;
}
